@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a7bcff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
